.main-container{
	width: 1000px;
	height: 900px;
}

.left-panel{
	position: relative;
	background-color: skyblue;
	width: 30%;
	height: 100%;
	padding: 0;
	margin: 0;
	align-items: left;
}

.photo-panel{
	width: 100%;
	height: 30%;
	overflow: hidden;
}

.photo-panel img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.text-contant{
	color: white;
	width:100%;
	height: 75%;
	position: relative;
	margin-left: 10px;
}


.right-panel{
	position: relative;
	display: block;
	background-color: whitesmoke;
	width: 70%;
	height: 100%;
	padding: 0;
	margin: 0;
}

h2 {
	padding-left: 10px;
  	border-bottom: 1px solid white; 
  	padding-bottom: 5px;
  	width: 80%;
  	border-block: 1.7px solid white;
}
.Education, .Skill, .Homework-Lab, .Favorite-Music {
	padding-left: 10px;
  	border-bottom: 1px solid white; 
  	padding-bottom: 5px;
  	width: 80%;
  	border-block: 1.7px solid white;
}

.music{
	display: inline-grid;
	align-items: center;
	 grid-template-columns: 3fr 3fr 3fr;

}
.year {
	margin-right: 40px;
	}

.discription {
	font-style: italic;
	}

.year, .discription {
	display: inline;
}